
@import url('https://fonts.googleapis.com/css2?family=Finlandica:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: "Raleway", sans-serif;
    font-size: larger;
    background-image: url(backgrounds/view.jpg);
    background-size: cover;
}

.window{
    border: 2px solid black;
    border-radius: 8px;
    position: absolute;
    background-color: rgb(221, 221, 221);
    color: black;
    margin: 2px;
    padding: 4px;
    text-align: center;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.icon{
    width: 96px;
    height: 96px;
    border: 2px solid black;
    position: absolute;
    text-align:center;
    z-index: 0;
}

.header{
    display: flex;
    height: 32px;
    justify-content: space-between;
    background-color: rgb(200, 200, 200);
}

.header-button{
    background-color: rgb(255, 86, 86);
    width: 16px;
    height: 16px;
    border: 2px solid black;
    border-radius: 16px;
    margin: 8px;
}

.top-bar{
    display: flex;
    color: white;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.125);
    backdrop-filter: blur(10px);
    width: 100%;
    justify-content: center;
    transform: translate(-0.5%, -5%);
    border-radius: 30px;
}