
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    background-image: url(background.png);
    background-size: cover;
}
.window{
    border: 2px solid black;
    border-radius: 8px;
    position: absolute;
    width: 256px;
    height: 480px;
    background-color: rgb(221, 221, 221);
    margin: 2px;
    padding: 4px;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.header{
    display: flex;
    width: 256px;
    height: 32px;
    justify-content: space-between;
    background-color: rgb(200, 200, 200);
}
.header-button{
    background-color: rgb(255, 86, 86);
    width: 16px;
    height: 16px;
    border: 2px solid black;
    border-radius: 16px;
    margin: 8px;
}
.top-bar{
    display: flex;
    color: white;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.125);
    backdrop-filter: blur(10px);
    width: 100%;
    justify-content: center;
    transform: translate(-0.5%, -5%);
    border-radius: 30px;
}